/* styles.css */
:root {
  /* used for the dialog backdrop */
  --light-color: #ffeadb;
  --light-orange: rgb(235, 202, 179);
  --orange: #ff9a76;
  --dark-orange: #dd724b;

  --light-green: #679b9b;
  --dark-green: #597575;
  --dark-color: #161d1d;

  --green: #30ca37;
  --dark-hit: #1e7422;
  --dark-miss: #be0101;
  --dark-empty: #c7c7c7;
  --dark-click: #909290;
  --red: #ff0000;
  --dark-red: #521700;
  --greyed-out: #b1aeae;
  --grey-green: #55614e;
  --grey-red: #744c4a;
  --grey-sunk: #608803;
  --ship-color: #4b284d;
  --sunk-color: #a7ee00;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: red solid 1px; */
}
body {
  background-color: var(--light-color);
}
.game-container {
  display: grid;
  grid-template-columns: 1fr 400px 1fr;
  grid-template-rows: 50px 1fr;
  row-gap: 30px;
  column-gap: 10px;
}
.main-title-container {
  grid-column: 1/-1;
  justify-self: center;
  margin-top: 20px;
}

/* Left Sidebar */
.left-sidebar-container {
  display: grid;
  grid-template-rows: 300px 200px;
  gap: 30px;
  color: var(--dark-color);
  justify-content: right;
  margin-right: 30px;
}
.legend-boat-summary,
.boat-summary-container {
  justify-self: center;
  height: 300px;
  row-gap: 10px;
  display: grid;
  padding: 20px;
  background-color: var(--light-orange);
  border-radius: 20px;
  box-shadow: inset 3px 3px 6px var(--dark-color);
}
.legend-boat-summary {
  height: 200px;
}
.boat-summary,
.legend-title {
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
}
.boat-item,
.summary-item {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 60px 1fr;
  width: 200px;
  place-content: center;
  padding-top: 5px;
  border-top: 3px solid var(--dark-color);
}
.boat-status {
  width: 30px;
  height: 15px;
  background-color: var(--green);
  border-radius: 20px;
  place-self: center;
  border: 2px solid var(--dark-color);
}
.hits-left {
  font-weight: bold;
}
.boat-hurt {
  background-color: var(--orange);
}
.boat-sunk {
  background-color: var(--red);
}
.crossed-out {
  text-decoration: line-through;
}
.gameboard-container {
  grid-column: 2/3;
  grid-row: 2/-1;
  background-color: var(--dark-green);
  place-self: center;
  padding: 30px;
  border-radius: 20px;
  box-shadow: inset 3px 3px 6px var(--dark-color);
  display: grid;
  gap: 20px;
}
.player-ships,
.player-shots {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--light-color);
  padding-bottom: 5px;
}
.game-button {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 5px;
  margin: 1px;
}

.game-button:hover {
  background-color: var(--dark-empty);
}
.game-button.hit:hover {
  background-color: var(--dark-hit);
}
.game-button.miss:hover {
  background-color: var(--dark-miss);
}
.game-button:active {
  background-color: var(--dark-click);
}
.hover-pointer:hover {
  cursor: pointer;
}
.ship {
  background-color: var(--ship-color);
}
.hit {
  background-color: var(--green);
}
.miss {
  background-color: var(--red);
}
.sunk {
  background-color: var(--sunk-color);
}
.right-sidebar-container {
  display: grid;
  grid-template-rows: 200px 150px 382px;
  margin-left: 30px;
  gap: 20px;
}
.boat-swap-container {
  background-color: var(--light-orange);
  width: 250px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: inset 3px 3px 6px var(--dark-color);
  display: grid;
  grid-template-rows: 25px 35px 1fr 1fr;
  grid-row: 1/2;
  border: 5px solid var(--red);
  animation: boat-swap-notice 0.7s linear alternate infinite;
  /* display: none; */
}
@keyframes boat-swap-notice {
  from {
    border: 8px solid var(--red);
  }
  to {
    border: 8px solid var(--dark-red);
  }
}
.pName-randomizer {
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  color: var(--dark-color);
}
.place-text {
  font-size: 1.6rem;
  color: var(--dark-color);
  text-align: center;
}
.random-placement-button,
.confirm-placement-button,
.turn-change-button {
  color: var(--dark-color);
  font-size: 1rem;
  background-color: var(--orange);
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  box-shadow: 2px 2px 3px var(--dark-color);
  width: 200px;
  height: 30px;
  transition: all 0.2s ease-in-out;
}
.random-button-container,
.confirm-button-container,
.turn-change-button-container {
  display: grid;
  width: 100%;
  place-items: center;
}
.random-button-container:hover .random-placement-button,
.confirm-button-container:hover .confirm-placement-button,
.turn-change-button-container:hover .turn-change-button {
  transform: translateY(-4px);
  box-shadow: 2px 2px 7px var(--dark-color);
}
.random-placement-button:hover,
.confirm-placement-button:hover,
.turn-change-button:hover {
  background-color: var(--dark-orange);
  transform: translateY(-2px);
}
.random-button-container:hover .random-placement-button:active,
.confirm-button-container:hover .confirm-placement-button:active,
.turn-change-button-container:active .turn-change-button {
  background-color: var(--dark-orange);
  transform: translateY(-2px);
}
.change-turns-container {
  background-color: var(--light-orange);
  width: 250px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: inset 3px 3px 6px var(--dark-color);
  display: grid;
  grid-template-rows: 20px 30px 1fr;
  grid-row: 2/3;
  height: 80px;

  animation: close-change-container 0.25s backwards alternate-reverse ease-in 1;
}
.open-container {
  animation: open-change-container 0.25s forwards alternate ease-out 1;
}
@keyframes open-change-container {
  from {
    height: 80px;
  }
  to {
    height: 150px;
  }
}
@keyframes close-change-container {
  from {
    height: 80px;
  }
  to {
    height: 150px;
  }
}
.current-turn {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}
.p1-color {
  color: var(--green);
}
.p2-color {
  color: var(--red);
}
.current-turn-text {
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}
.turn-change-button {
  margin-top: 20px;
  animation: turn-change 0.7s linear alternate infinite;
}

@keyframes turn-change {
  from {
    border: 5px solid var(--red);
  }
  to {
    border: 5px solid var(--dark-red);
  }
}
.click-history-container {
  background-color: var(--light-orange);
  width: 250px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: inset 3px 3px 6px var(--dark-color);
  display: grid;
  grid-template-rows: 25px 1fr 25px 1fr;
  grid-row: 3/-1;
}
.p1-shot-tracker,
.p2-shot-tracker {
  font-size: 1.1rem;
  font-weight: bold;
}
.greyed-out {
  background-color: var(--greyed-out);
}
.greyed-out.hit {
  background-color: var(--grey-green);
}
.greyed-out.miss {
  background-color: var(--grey-red);
}
.greyed-out.sunk {
  background-color: var(--grey-sunk);
}
/* Dialog Styling */
#new-game-dialog {
  background-color: var(--light-green);
  border: 5px solid var(--dark-green);
  border-radius: 20px;
  position: fixed;
  inset: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  min-width: 600px;
  height: 450px;
}
.dialog-container {
}
#new-game-form {
  display: grid;
  grid-template-rows: repeat(5, 60px);
  gap: 10px;
  grid-column: 1/-1;
  place-items: center;
  gap: 20px;
}
.dialog-title-container,
.main-title-container {
  display: flex;
  flex-direction: row;
  place-items: center;
  gap: 5px;
  color: var(--dark-color);
  font-size: 1.4rem;
}
.dialog-title-container i,
.main-title-container i {
  font-size: 2rem;
}
.start-game-button {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 15px;
  background-color: var(--light-color);
  font-size: 1.2rem;
  transition: all 0.2s ease-in-out;
  box-shadow: 2px 2px 3px var(--dark-color);
  color: var(--dark-color);
}
.start-button-container:hover .start-game-button {
  transform: translateY(-3px);
  box-shadow: 2px 2px 7px var(--dark-color);
}
.start-game-button:hover {
  background-color: var(--orange);
}
.start-game-button:active {
  background-color: var(--dark-orange);
}

.hidden {
  display: none;
}
/* DIALOG ANIMATION */
dialog:open {
  opacity: 1;
  transform: scaleY(1);
}

/* Closed state of the dialog   */
dialog {
  opacity: 0;
  transform: scaleY(0);
  transition:
    opacity 0.7s ease-out,
    transform 0.7s ease-out,
    overlay 0.7s ease-out allow-discrete,
    display 0.7s ease-out allow-discrete;
  /* Equivalent to
  transition: all 0.7s allow-discrete; */
}

/* Before open state  */
/* Needs to be after the previous dialog:open rule to take effect,
    as the specificity is the same */
@starting-style {
  dialog:open {
    opacity: 0;
    transform: scaleY(0);
  }
}

/* Transition the :backdrop when the dialog modal is promoted to the top layer */
dialog::backdrop {
  background-color: transparent;
  opacity: 0;

  transition:
    display 0.5s allow-discrete,
    overlay 0.5s allow-discrete,
    opacity 0.5s;
  /* Equivalent to
  transition: all 0.7s allow-discrete; */
}

dialog:open::backdrop {
  /* background-color: rgb(0 0 0 / 25%); */
  background-image: linear-gradient(
    45deg,
    var(--green),
    var(--purple),
    var(--dark-green),
    var(--dark-purple)
  );
  opacity: 0.75;
}

/* This starting-style rule cannot be nested inside the above selector
because the nesting selector cannot represent pseudo-elements. */

@starting-style {
  dialog:open::backdrop {
    background-color: transparent;
    opacity: 0;
  }
}
/*Apple Input*/
.input-container {
  width: 400px;
  position: relative;
}
.input-container input {
  width: 100%;
  padding: 20px 50px 10px 10px;
  border-radius: 10px;
  border: 1px solid black;
  font-size: 1.1em;
  outline: none;
}
.input-container label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  padding: 10px;
  color: grey;
  pointer-events: none;
  transition: all 0.4s ease;
}
/* the second one targets if the input has something different than the placeholder of "" this
    is done so that when there is an input it moves up and works for inputs that aren't required */
.input-container input:focus ~ label,
.input-container input:not(:placeholder-shown) ~ label {
  transform: translateY(-33px);
  font-size: 0.8em;
}

/* FANCY CHECKBOX / PVP & COMPUTER SELECTOR*/

.submit-checkbox .tgl {
  display: none;
}
.submit-checkbox .tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 6em;
  height: 2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.submit-checkbox .tgl + .tgl-btn:after,
.submit-checkbox .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.submit-checkbox .tgl + .tgl-btn:after {
  left: 0;
}
.submit-checkbox .tgl + .tgl-btn:before {
  display: none;
}
.submit-checkbox .tgl:checked + .tgl-btn:after {
  left: 50%;
}
.submit-checkbox .tgl-flip + .tgl-btn {
  padding: 2px;
  transition: all 0.2s ease;
  font-family: sans-serif;
  perspective: 100px;
}
.submit-checkbox .tgl-flip + .tgl-btn:after,
.submit-checkbox .tgl-flip + .tgl-btn:before {
  display: inline-block;
  transition: all 0.4s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2em;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 4px;
}
.submit-checkbox .tgl-flip + .tgl-btn:after {
  content: attr(data-tg-on);
  background: var(--orange);
  transform: rotateY(-180deg);
}
.submit-checkbox .tgl-flip + .tgl-btn:before {
  background: var(--light-color);
  color: var(--dark-color);
  content: attr(data-tg-off);
}
.submit-checkbox .tgl-flip + .tgl-btn:active:before {
  transform: rotateY(-20deg);
}
.submit-checkbox .tgl-flip:checked + .tgl-btn:before {
  transform: rotateY(180deg);
}
.submit-checkbox .tgl-flip:checked + .tgl-btn:after {
  transform: rotateY(0);
  left: 0;

  background: var(--orange);
}
.submit-checkbox .tgl-flip:checked:hover + .tgl-btn:after {
  background: var(--dark-orange);
}
.submit-checkbox .tgl-flip:hover + .tgl-btn::before {
  background: var(--light-orange);
}
.submit-checkbox .tgl-flip:checked + .tgl-btn:active:after {
  transform: rotateY(20deg);
}

.submit-checkbox:not(:checked) + .p2-container {
  display: block;
}
.submit-checkbox:has(:checked) + .p2-container {
  display: none;
}
.submit-checkbox:not(:checked) ~ .difficulty-container {
  display: none;
}
.submit-checkbox:has(:checked) ~ .difficulty-container {
  display: block;
}

/* Difficulty Radio button styling */
.difficulty-inputs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background-color: var(--light-color);
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.25rem;
  width: 150px;
  font-size: 14px;
}

.difficulty-inputs label {
  flex: 1 1 auto;
  text-align: center;
}

.difficulty-inputs label input {
  display: none;
}

.difficulty-inputs label .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 0;
  color: var(--dark-color);
  transition: all 0.15s ease-in-out;
}

.difficulty-inputs label input:hover + .name {
  background-color: var(--light-orange);
}
.difficulty-inputs label input:checked + .name {
  background-color: var(--orange);
  font-weight: 600;
}
